html
    head
        title Ver-ID
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(type="module", src="/js/demo.js")
        link(rel="stylesheet", href="/css/demo.css")
    body
        #content
            #background.idcapture
            #idcapture.page
                p This demo uses the Ver-ID browser library to scan an identity card, capture a live face and compare the face from the card with the captured live face.
                a.start.button(href="javascript:void(0)") Capture ID card
                div.qr
                    details
                        summary Try another device
            #facecapture.page
                .card
                    div
                a.start.button(href="javascript:void(0)") Capture live face
            #result.page
                .images
                    .liveFace 
                    .cardFace
                .score
                a.button(href="javascript:void(0)") Try again
            #carddetails.page
                .card
                    div
                table.idcard
            #error.page
                h1 Error
                p.reason
                a.retry.button(href="javascript:void(0)") Start over
        input(type="hidden", id="licence_key", value=licenceKey)