<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ver-ID in-browser demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/demo.css" />
    </head>
    <body>
        <div id="content">
            <div id="loading" class="page">
                <p>Loading configuration</p>
            </div>
            <div id="facecapture" class="page">
                <a class="start button" href="javascript:void(0)">Capture live face</a>
            </div>
            <div id="error" class="page">
                <h1>Error</h1>
                <p class="reason"></p>
                <a class="start button" href="javascript:void(0)">Start over</a>
            </div>
            <div id="result" class="page">
                <h1>Face capture succeeded</h1>
                <img />
                <p>
                    <a class="start button" href="javascript:void(0)">Try again</a>
                </p>
            </div>
        </div>
    </body>
    <script type="module" src="/js/faceDetectionDemo.js"></script>
</html>